.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
}

.ex-1-square:hover {
    background-color: red;
    transition: 3s;
}

.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
}

.ex-2-square:active {
    width: 100%;
    transition: 3s;

}


.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
}

.ex-3-square:hover {
    border-radius: 100%;
    transition: 3s;
}


.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
}

.ex-4-square:hover {
    background: none;
    transition: 3s;
}

.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
}

.ex-5-square:hover {
    transform: scale(2);
    transition: 1s;
}

.ex-5-square:active {
    transition: 1s;
    transform: scale(0.5);
}




.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}

.ex-6-img:hover {
    filter: grayscale(1);
}

.ex-7-img:hover{
    filter: saturate(0.5);
    filter: sepia(0.5);
    transition: 2s;
}

.ex-8-img:hover {
    border-radius: 6%;
    filter: grayscale(5);
    filter: sepia(0.5);
    transition: 2s;
}

.ex-9-img {
    margin: 50px 100px;
    width: 400px;
}

.ex-9-img:hover {
    border-radius: 6%;
    filter: grayscale(5);
    filter: sepia(1.0);
    transform: scale(1.5);
    transition: 2s;

}


.ex-10-icon {
    font-size: 60px;
}

.ex-10-icon {
    animation: fast 1s linear infinite;
}

@keyframes fast {

    0% {transform: rotate(1turn);}
}

.ex-11-icon {
    font-size: 60px;
}

.ex-11-icon:hover {
    animation: fastinverse 3s linear;

}

@keyframes fastinverse {

    0% {
        
        transform: rotate(0);
    
    }

    80% {
        transform: rotate(360deg);

    }

    100% {
        transform: rotate(0);
    }
}

.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}

.ex-12-button:hover .ex-12-top-white{
    animation: movebartop 3s linear;
}

@keyframes movebartop {

    0% {
        left: 10%;
    }

    50%{
        left: calc(100% - 60px);
    }

    100%{
        left: 10%;
    }
    
}


.ex-12-button:hover .ex-12-bottom-white{
    animation: movebarbottom 3s linear;
}

@keyframes movebarbottom {

    0% {
        right: 10%;
    }

    50%{
        right: calc(100% - 60px);
    }

    100%{
        right: 10%;
    }
    

}

.ex-13-button:hover .ex-13-top-white{
    animation: movebartopinfinite 3s linear;
}

@keyframes movebartopinfinite {

    0% {
        left: 10%;
        top: -10px
    }

    25%{
        left: calc(100% - 20px);
        top: -10px;
    }

    50%{
        left: calc(100% - 20px);
        top: 100%;
    }

    75%{
        left: 0;
        top: 100%;

    }


    100%{
        left: 10%;
        top: -10%;
    }
    

}

.ex-13-button:hover .ex-13-bottom-white{
    animation: movebarbottominfinite 3s linear;
}

@keyframes movebarbottominfinite {

    0% {
        bottom: -10%;
        right: 20px;
    }

    25%{
        right: calc(100% - 30px);
        bottom: -10px;
    }

    50%{
        right: calc(100% - 30px);
        bottom: 100%;
    }

    75%{
        right: 0;
        bottom: 100%;

    }


    100%{
        bottom: -10%;
        right: 20%;
    }
    

}
